.messenger {
  margin: 1vh 1vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  width: 96vw;
}

.window {
  width: calc(45% - 0.5px);
  display: inline-block;
}

.divider {
  margin: 0 5%;
  height: 100%;
  border-left: 1px solid #000;
  display: inline-block;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.left,
.right {
  margin-top: 0;
}

.window__messages {
  min-height: 91vh;
}

.window__form {
  box-sizing: border-box;
  min-height: 2vh;
}

.window__form--text {
  width: 80%;
  box-sizing: border-box;
}

.window__form--submit {
  width: 20%;
  box-sizing: border-box;
}
